
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.top
{
  margin-bottom: 100%;
  margin-left: 27%;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: url(../Assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff8f5;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(244, 230, 230, 0.631);
  margin-left: -43%;
  margin-top: 3%;
}
.container marquee {
  font-size: 2rem;
  border-bottom: 2px solid black;
  color: #333;
  font-weight: 500;
  font-family: inherit;
  font-style: italic;
  text-align: center;
}
.container .form {
  margin-top: 30px;
  font-weight: bold;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
  font-weight: bold;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background: rgb(240, 166, 113);
}
.form button:hover {
  background: rgb(164, 255, 176);
  color: black;
  font-weight: bold;
}

